/*

  CSS-разметчик
  http://wdevblog.net.ru

*/

@media print {
    #skip-link { display: none; }
    #overlay-disable-message { display: none; }
    .bg { display: none; }
    .header { display: none; }
    #toolbar { display: none; }
    .footer { display: none; }
    .contacts_line { display: none; }
    .tabs { display: none; }
    .zagolovok { display: none; }
    .print_button { display: none; }
}

/* common */
html, body, img, form {margin: 0px; padding: 0px; border: none;}
html, body {height:100%; width: 100%;}
body {background-color:#fff; overflow-y: scroll;}
body, td {font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif; color: #000;}
a {color: #ee8230; text-decoration: none; outline: none;}
a:hover {	text-decoration: underline;}
table {border: 0px; border-collapse: collapse;}
td {vertical-align: top;}
p {padding: 0px; margin: 0px 0px 12px 0px;}
object {outline:none;}

#edit-path-pathauto { position: relative; z-index:5;}

.breadcrumbs { font-size: 11px; color: #898989; margin-top:-50px; margin-left: 20px; z-index: 5;}
.breadcrumbs a { text-transform:uppercase}
span.blue { color: #2b5178; font-size: 13px;}

body.front h2 a { color: #000}

.bg {
    background: #FFF url(../images/bg_other.gif) repeat-x; position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.bg_home{
    background: url("../images/bg_home.gif") repeat-x scroll 0 0 #FFFFFF;
    height: 525px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}



h1 {font-size:31px; font-weight: normal; padding: 0px; margin: 0px 0px 10px 0px;}
h2 {font-size:31px; font-weight: normal; padding: 0px; margin: 0px 0px 10px 0px;}
h3 {font-size:22px; color: #2f5881; text-transform:uppercase;  font-weight: normal; padding: 0px; margin: 30px 0px 20px 0px;}

.align_center { text-align:center;}

.clear {clear:both;}
.none {line-height:0;}
.relative {position:relative;}
.img-marg {float:left; margin:0 10px 5px 0;}
.float-l {float:left;}
.float-r {float:right;}
.hfeed .posts {margin-bottom:10px;}

.main-cont {width:955px; margin:0 auto; min-height:100%;}

/* header */
.header {height:90px; border-top: none;}
.header-b {}

.header_top { height: 29px; overflow:hidden; width: 955px; margin: 0 auto;}
.header_top ul { margin:0; padding:0; list-style-type: none;  padding-top: 8px;  }
.header_top ul li { display: inline-block}
.header_top ul li a { font-size: 11px; color: #3271a2; text-align:center; display:block; width: 115px; padding: 4px 0; text-decoration:underline}
.header_top ul li.active a { background:url(../images/buttons/top_link_home.png) no-repeat; color: #bdcdda; text-decoration: none;}

.feedback_button { float: right; color: #ff9332; text-decoration: none; background: url(../images/buttons/feed_back_but.gif) no-repeat; padding: 7px 39px; padding-right: 30px;}
.feedback_button:hover { background-position: 0 -60px; color:#FFF; text-decoration:none}
.partnership_button { background: url(../images/buttons/part_bg.png) no-repeat 0 -32px; color: #FF9332; float: right; padding: 7px 39px; padding-right:30px; text-decoration: none; margin-right:5px;}
.partnership_button:hover {  background-position: 0 0px; color:#FFF; text-decoration:none}

.region-top-tabs { margin-top: -12px; width: 300px;}
.region-top-feedback-button {margin-top: -12px;}

.header_phones { /*width: 1050px;*/ height: 63px; margin: 0 auto; clear:both;    }
.region-top-phones { background:  url(../images/bg_other-fix.gif) repeat-x; z-index:10000; width:100%; height:63px;}

.region-top-phones .content { width:1155px; margin:0 auto;}

.header_phones { height:auto; min-height:63px;}
.region-top-phones { background:  url(../images/headermenu.png) repeat-x; z-index:10000; width:100%; height:auto;min-height:63px; }


.region-top-phones .tabl1 { height:48px;}
.region-top-phones .tabl1 td { padding:0; margin:0; }
.region-top-phones .tabl1 td .bag {background:url(../images/tablesep.png) no-repeat left center; display:block;height:48px;}
.region-top-phones .tabl1 td.lastbg {background:url(../images/tablesep.png) no-repeat right center;}
.region-top-phones .tabl1 td:hover {background:  url(../images/headermenuh.png) repeat-x;}
.region-top-phones .tabl1 td:active {background:  url(../images/headermenua.png) repeat-x;}
.region-top-phones .tabl1 td a.me { display:block; padding-top:5px; font-size:15px; font-weight:bold; color:#ff9231; text-transform:uppercase;}
.region-top-phones .tabl1 td a.ph { display:block; padding-bottom:5px; font-size:15px; font-weight:bold; color:#fff;}
.region-top-phones .tabl1 td a.ph span { color:#7da7d1;}

.region-top-phones .tabl2 { height:48px;background:  url(../images/headermenu2.png) repeat-x; position:relative; top:-1px;
    -moz-border-radius: 0 0 8px 8px; /* Firefox */
    -webkit-border-radius: 0 0 8px 8px; /* Safari, Google Chrome */
    -khtml-border-radius: 0 0 8px 8px; /* KHTML */
    -o-border-radius: 0 0 8px 8px; /* Opera */
    -ms-border-radius: 0 0 8px 8px; /* IE8 */
    -icab-border-radius: 0 0 8px 8px; /* Icab */
    border-radius: 0 0 8px 8px; /* CSS3 */}
.region-top-phones .tabl2 td { padding:0; margin:0; }
.region-top-phones .tabl2 td.first{
    -moz-border-radius: 0 0 0px 8px; /* Firefox */
    -webkit-border-radius: 0 0 0px 8px; /* Safari, Google Chrome */
    -khtml-border-radius: 0 0 0px 8px; /* KHTML */
    -o-border-radius: 0 0 0px 8px; /* Opera */
    -ms-border-radius: 0 0 0px 8px; /* IE8 */
    -icab-border-radius: 0 0 0px 8px; /* Icab */
    border-radius: 0 0 0px 8px; /* CSS3 */
}
.region-top-phones .tabl2 td.last{
    -moz-border-radius: 0 0 8px 0px; /* Firefox */
    -webkit-border-radius: 0 0 8px 0px; /* Safari, Google Chrome */
    -khtml-border-radius: 0 0 8px 0px; /* KHTML */
    -o-border-radius: 0 0 8px 0px; /* Opera */
    -ms-border-radius: 0 0 8px 0px; /* IE8 */
    -icab-border-radius: 0 0 8px 0px; /* Icab */
    border-radius: 0 0 8px 0px; /* CSS3 */
}
.region-top-phones .tabl2 td .bag {background:url(../images/tablesep.png) no-repeat left center; display:block;height:48px;}
.region-top-phones .tabl2 td.first .bag { background:none;}
.region-top-phones .tabl2 td.lastbg {background:url(../images/tablesep.png) no-repeat right center;}
.region-top-phones .tabl2 td:hover {background:  url(../images/headermenu2h.png) repeat-x;}
.region-top-phones .tabl2 td:active {background:  url(../images/headermenu2a.png) repeat-x;}
.region-top-phones .tabl2 td a.me { display:block; padding-top:5px; font-size:15px; font-weight:bold; color:#ff9231; text-transform:uppercase;}
.region-top-phones .tabl2 td a.ph { display:block; padding-bottom:5px; font-size:15px; font-weight:bold; color:#fff;}
.region-top-phones .tabl2 td a.ph span { color:#7da7d1;}


.page-node-1304 .bg { background:none;}



.frenzy_header{
    width: 955px; margin: 0 auto; clear:both; overflow:hidden;
}

.phone-item{ display: table; margin: 0 auto; height:63px;}
.phone-item .view-content{ display: table-row;}
.phone-item .view-content{ display: table-row; }
.header_phones .view-contacts { background:url(../images/top-menu-sep.png) no-repeat right top;}
.header_text {float: right;height: 64px;padding: 10px 20px;width: 460px;}
.region-header-text, #block-block-22, #block-block-22 .content {width: 460px; height:64px;}


.phone-item .views-row {  display: table-cell; width: 165px; text-align: center; background:url(../images/top-menu-sep.png) no-repeat left top; height:63px;}
.phone-item .views-row:hover { background:url(../images/top-menu-hover.png) no-repeat right top; }
.phone-item .views-row.views-row-last:hover { background:url(../images/top-menu-hover-last.png) no-repeat right top; }
.phone_rajon { text-transform: uppercase; color: #ed802f; font-size: 13px; font-weight: bold; }
.phone_rajon  a{

    background: url("../images/icons/icon_m.png") no-repeat scroll 7px 12px;display: block;padding-left: 20px; padding-top:12px;

}
.phone_rajon .metro {}
.phone_number { color: #fff; font-weight: bold; font-size: 19px;}
.phone_number a{ color: #fff; font-weight: bold; font-size: 15px; text-decoration:none; padding-top:4px; display:block; padding-bottom:12px;}
.phone_number a:hover {text-decoration:none}
.phone_number span { color:#a6bbcf}

.region-top-phones .contextual-links-region  {height: 63px;}

.logo { padding-top: 11px; padding-bottom: 7px; margin-left: 26px; float:left;}
.logo_right { float: right; padding-top: 25px;}
.kurjer_area { float: right}
.kurjer_area_2 { float: right; margin-top: 17px; margin-right: 43px;}
.socials { float: right; padding-top: 10px; margin-right: 30px;}
.socials a { margin: 2px;}
.socials a, .socials_footer a { margin: 2px;}

.main_menu { height: 40px; width: 100%; background:url(../images/menu/menu_bg.png) no-repeat;}

.main_menu ul { margin:0; padding:0; overflow:hidden; width:100%; list-style-type: none}
.main_menu ul li { float:left; height: 40px; overflow: hidden; z-index: 1; position:relative}
.main_menu ul li.first.active, .main_menu ul li.first:hover { background:url(../images/menu/item_hover.png) no-repeat}

.main_menu ul li.active, .main_menu ul li:hover
{
    background:url(../images/menu/item_hover.png) -50px 0 no-repeat;
}

.main_menu ul li.last.active, .main_menu ul li.last:hover { background:url(../images/menu/item_hover.png) right no-repeat}
.main_menu ul li a {  overflow: hidden; display: block; background:url(../images/menu/circle.png) no-repeat left; padding: 10px 42px; text-transform:uppercase; color:#1c3f63; font-weight:bold; text-decoration:none; font-size: 15px; background: }
.main_menu ul li.last a { padding: 10px 41px; padding-left:40px; padding-right:41px; padding-top:10px; padding-bottom:10px;}
.main_menu ul li a:hover, .main_menu ul li.active a, .main_menu ul li.first a { background: none}
.main_menu ul li.menu-237 a { padding:10px 49px;}
.main_menu ul li.menu-496 a { padding:10px 47px;}
.main_menu ul li.menu-967 a { padding:10px 53px;}
.main_menu ul li.menu-490 a { padding:10px 43px;}
.main_menu ul li.menu-494 a { padding:10px 63px;}
.main_menu ul li.menu-488 a { padding:10px 40px;}





/* center col */
.center-col {width:955px; float:left; overflow: visible;}
.center-col .padding {padding:20px 0px 76px 0px;}
.center-col li {margin:10px 0;}

.border_block { margin-bottom:10px; border: 1px solid #d8e0e9; padding: 25px; -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; behavior: url(pie/PIE.htc);}

.home_services_smile { font-size: 21px; color: #ff9130; text-transform: uppercase; width: 144px; height: 187px; background:url(../images/big_smile.gif) center bottom no-repeat; display:inline-block;  vertical-align:top; }

.region-remont-home {display:inline-block;  vertical-align:top;}

.home-services-item .views-row{ display:inline-block; vertical-align:top; margin: 0 27px;}
.home_services_item_image { height: 105px; display: table-cell; vertical-align:middle }
.home-services-item .item-list { margin-top:0!important}
.home-services-item ul { margin:0!important; padding:0!important; list-style-type: none!important; margin-top: 20px!important; margin-bottom: 20px!important;}
.home-services-item ul li { line-height: 12px!important; display: list-item!important; padding: 0!important; background: none!important;margin: 10px 0!important;}
.home-services-item ul li a { color:#ff9130!important; text-decoration: none!important;}
.home-services-item ul li a:hover { text-decoration: underline!important}

a.readmore_grey { background: #e2e2e2; text-decoration: none; color: #737373; font-size: 11px; padding: 1px 15px;  -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; behavior: url(pie/PIE.htc);}
a.readmore_grey:hover {background: #ff9130; color: #FFF; }

.readmore_grey a{ background: #e2e2e2; text-decoration: none; color: #737373; font-size: 11px; padding: 1px 15px;  -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; behavior: url(pie/PIE.htc);}
.readmore_grey a:hover {background: #ff9130; color: #FFF; }

.node-map .readmore_grey a{font-size: 15px; background:url(../images/but21.png); width:117px; padding:0; padding-left:32px; height:23px; display:block; float:left; color:#fff; line-height:20px; }
.node-map .readmore_grey a:hover { background-position:0 23px; }
.node-map .readmore_grey a.mlink{ background:url(../images/but2.png); float:left; margin-right:20px; }
.node-map .readmore_grey a.mlink:hover { background-position:0 23px; }

a.readmore_grey_arrow { background: #e2e2e2 url(../images/opisanie_but.gif) no-repeat right 0; text-decoration: none; color: #737373; font-size: 11px; padding: 0px 17px 0 15px;  -webkit-border-radius: 8px 0px 0 8px;-moz-border-radius: 8px 0px 0 8px;border-radius: 8px 0px 0 8px; behavior: url(pie/PIE.htc);}
a.readmore_grey_arrow:hover { background: #ff9130 url(../images/opisanie_but.gif) no-repeat right -16px; color: #FFF; }

span.readmore_grey_arrow { background: #e2e2e2 url(../images/opisanie_but.gif) no-repeat right 0; text-decoration: none; color: #737373!important; font-size: 11px!important; padding: 0px 17px 0 15px;  -webkit-border-radius: 8px 0px 0 8px;-moz-border-radius: 8px 0px 0 8px;border-radius: 8px 0px 0 8px; behavior: url(pie/PIE.htc); display: block}

.home_services_show_all { text-align:right; margin-top: 25px;}

a.readmore_orange { background: #ff9130; text-decoration: none; color: #fff; font-size: 11px; padding: 1px 15px;  -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; behavior: url(pie/PIE.htc);}
a.readmore_orange:hover {background: #e2e2e2; color: #737373; }

.center_block { display:inline-block; vertical-align:top; width: 750px; padding-right: 30px;}

.akcii_block { margin-top: 10px; width: 370px; float: left; margin-right: 44px;}
.home_readmore_grey_gradient { float:right; background:url(../images/buttons/grey_but_1.gif) repeat-x; padding: 1px 15px; border: 1px solid #d5d5da; text-decoration:none; color:#40414a; font-size: 11px;  -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; margin-top: 14px; behavior: url(pie/PIE.htc);}
.akcija_title { color: #808080; font-size: 11px; margin-top: 5px;}

.views-slideshow-controls-bottom { float:right; margin-top: -53px; position: relative; z-index: 5;}
.views-slideshow-pager-field-item { background:url(../images/small_slider/but_1.gif) no-repeat; width: 10px; height: 11px; float: left; margin: 2px; cursor: pointer; text-indent: -90000px;}
.views-slideshow-controls-bottom .active { background:url(../images/small_slider/but_2.gif) no-repeat; width: 10px; height: 11px; float: left;  margin: 2px; cursor: pointer;}

.view-id-promotions.view-display-id-block .view-footer {
    float: right;
    margin-top: -53px;
    position: relative;
    z-index: 5;
}
.view-id-promotions.view-display-id-block .view-footer a {
    background: url("../images/small_slider/but_1.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 11px;
    margin: 2px;
    text-indent: -90000px;
    width: 10px;
}
.view-id-promotions.view-display-id-block .view-footer a .active, .view-id-promotions.view-display-id-block .view-footer a.activeSlide {
    background: url("../images/small_slider/but_2.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 11px;
    margin: 2px;
    width: 10px;
}

.news_block { margin-top: 10px; width: 335px; float: left; margin-right: 0px;}
.news-item .views-row { margin-bottom: 37px; clear: both}
.news-item .news_img { float: left; margin-right: 24px;}
.news_date { font-size: 10px; color: #a6a6a6;}
.news_title { margin: 3px 0;}
.news_text { font-size: 11px;}

.right_block {display:inline-block; vertical-align:top; width: 171px;}
.right_block img { margin-bottom: 10px;}
.right_banners { margin-top: 57px;}

.zag_gear { background: #FFF url(../images/icons/gear.gif) no-repeat; width: 47px; height: 47px; float:left; padding-right: 22px;}
.zag_mail { background: #FFF url(../images/icons/mail.gif) no-repeat; width: 47px; height: 44px; float:left; margin-top: 3px; padding-right: 22px;}
.zag_truba { background: #FFF url(../images/icons/truba.gif) no-repeat; width: 47px; height: 47px; float:left; padding-right: 22px;}
.zagolovok { background:url(../images/zagolovok_border_bg.gif) repeat-x 0 22px; margin-top: 14px;}
.zagolovok h1, .zagolovok h2  { background: #FFF url(../images/zagolovok_right_bg.gif) no-repeat right 22px; display: inline-block; padding-right: 60px;  max-width: 533px; }

.contacts_line { background:url(../images/contacts_line.png) no-repeat right; width: 997px; height: 84px;}
/*.contacts_line_text { max-width: 790px;}*/
.contacts_line_text .content { color: #FFF; font-weight: bold; font-size: 18px; text-shadow: 1px 1px #306579; font-family:Verdana, Geneva, sans-serif; padding: 0px 46px; height: 82px; vertical-align:middle; display:table-cell}

.remont-1-spisok-item .views-row { width: 200px; display:inline-block; vertical-align: top; margin: 17px 17px;}
.remont_1_spisok_item_image { display: table-cell;background:url(../images/hovernot2.png) no-repeat center center; vertical-align:middle; width: 203px; height: 168px; text-align:center; margin-bottom: 10px; /*border: 1px solid #D8E0E9; padding-top: 10px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; behavior: url(pie/PIE.htc);*/}
.remont_1_spisok_item_image:hover { background:url(../images/hover2.png) no-repeat center center;}
.remont_1_spisok_item_image a {display: table-cell;height: 160px;text-align: center;vertical-align: middle;width: 200px;}
.remont-1-spisok-item h4 { text-align:center; color: #ed802f; font-size: 26px; font-weight: normal; margin: 0px 0;}
.remont-1-spisok-item .item-list { margin: 0!important}
.remont-1-spisok-item ul { list-style-type: none; margin: 0; padding: 0; line-height: 12px;}
.remont-1-spisok-item ul li {margin: 10px 0!important; display: list-item!important; background: none!important; padding:0!important;}
.remont-1-spisok-item ul li a {color: #EE8230!important;
    text-decoration: none!important;
    outline: none!important;}

.razdel_desc { background:url(../images/razdel_desc_bg.gif) bottom left no-repeat; padding: 0px; width:944px; margin:0 auto; margin-bottom: 10px; }
.razdel_desc_top { background:url(../images/razdel_desc_top.gif) no-repeat; width: 944px; margin:0 auto; height: 35px; }

.razdel_desc_img {  padding-left: 30px; padding-right: 0px; padding-top: 10px; padding-bottom: 10px; text-align:center; display:table-cell; vertical-align:middle }
.razdel_desc_img p { margin:0; padding:0}
.razdel_desc_text { padding: 30px;  display:table-cell;  vertical-align:middle}

.razdel_desc_text_info { background:url(../images/icons/info.jpg) 60px no-repeat; padding: 30px; padding-left: 200px;  display:table-cell;  vertical-align:middle}

.view-apple h3, .view-samsung h3, .view-htc-repair h3 { text-align:center}
.view-apple h3 a , .view-samsung h3 a, .view-htc-repair h3 a { color:#2F5881}
.model-item .views-row { text-align:center; display: inline-block; vertical-align:top;
    margin: 6px;
    width: 175px; height: 230px; /*border: 1px solid #D8E0E9;-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; behavior: url(pie/PIE.htc);*/
    overflow:hidden;
    background:url(../images/hovernot.png) no-repeat center center;
}
.model-item .views-row .contextual-links-wrapper a { height:auto;}
.model-item .views-row:hover {  background:url(../images/hover.png) no-repeat center center;}
.model-item h4 { color: #ed802f; font-size: 22px; font-weight: normal; margin:0;}

.model-item .views-row .subtitle a { display:block; padding: 20px 0; height:auto; font-size:22px;}
.model-item .views-row div div a { display:block; height:155px;}

.toptitle  { text-align:center; margin-top:30px; margin-bottom:20px;}
.toptitle a {
    text-align: center;
    color: #2F5881;
    font-size: 22px;
    font-weight: normal;
    margin: 30px 0 20px;
    padding: 0;
    text-transform: uppercase;
}

.link_to_direct { text-align:right}

/* data table */
table {width:100%; margin:10px 0;}
table th, table td {padding:5px 10px; border: none; font-size: 14px; font-weight: bold; color: #2a5075}
table th, table thead td { padding: 15px 10px; text-align: left; color:#FFF; text-transform:uppercase; font-weight: normal; font-size: 14px; background: url(../images/table_header_repeat.gif) repeat-x; }

tr:first-child th:first-child {-webkit-border-radius: 8px 0 0 0; -moz-border-radius: 8px 0 0 0; border-radius: 8px 0 0 0;  }
tr:first-child th:last-child {-webkit-border-radius: 0px 8px 0 0; -moz-border-radius: 0px 8px 0 0; border-radius: 0px 8px 0 0;  }

.news-list-item .views-row { background: url(../images/small_smile.gif) no-repeat top left; padding-left: 45px; margin-top: 30px; clear: both; display:inline-block;}
.news-list-item .views-row div{float:left;}
.news-list-item .views-row div.subtitlenews{float:none;display: block; width: 900px; margin-bottom:10px; padding-top: 2px;}
.news-list-item .views-row div.subtitlenews a {     font-size: 21px;   margin-top: 0;      text-transform: uppercase;}
.news-list-item .views-row h2{display: block; width: 900px;}
.news-list-item h2 { margin-top: 0; padding-top: 2px; font-size: 21px; text-transform:uppercase}
.news_list_item_img { display:inline-block; vertical-align: top; float: left; width: 150px; text-align:center}
.news_list_date_area { display:inline-block;  vertical-align: top;  float: left; width: 90px; text-align:center; padding: 0 20px; }
.news_list_date_area span { font-size: 10px; color: #c8c8c8}
.news_list_item_text { display:inline-block;  vertical-align: top; width: 570px; margin-top: -5px; }
.news_list_item_text p { margin:0;}
.news_list_item_text2 { display:block;  vertical-align: top; width: 570px; margin-top: -5px; }
.news_list_item_text2 p { margin:0;}
p.tags { color: #EE8230;margin-top: 10px;}
span.tags { color: #EE8230;}

.faq-list-item .views-row { background: url(../images/bad_small_smile.gif) no-repeat top left; padding-left: 45px; margin-top: 30px;  clear: both; height: 150px;}
.faq-list-item h2 { margin-top: 0; margin-bottom: 15px; padding-top: 2px; font-size: 21px; text-transform:uppercase}
.faq-list-item .views-row div.subtitlenews{float:none;display: block; width: 900px; padding-bottom:10px; padding-top: 2px; height:34px;}
.faq-list-item .views-row div.subtitlenews a {     font-size: 21px;   margin-top: 0;      text-transform: uppercase;}
.faq_list_item_img { display:inline-block; vertical-align: top; width: 150px; text-align:center}
.faq_list_date_area { display:inline-block;  vertical-align: top; width: 90px; text-align:center; padding: 0 20px; }
.faq_list_date_area span { font-size: 10px; color: #c8c8c8}
.faq_list_item_text { display:inline-block; color: #315d81;  vertical-align: top; width: 570px; margin-top: -5px; }
.faq_list_item_text a {color: #315d81; }
.faq_list_item_text a:link, a:visited, a:active, a:hover  {text-decoration: none; }
.faq_list_item_text p { margin:0;}


h2.element-invisible { float: left; font-size: 14px; color: #737373; margin-right: 21px; margin-top: 24px;}
.item-list { margin-top: 20px; margin-bottom: 10px;}
.item-list ul { margin: 0; padding:0; list-style-type: none;}
.item-list ul li { display: inline-block; margin:0; padding: 5px 5px 5px 10px; background:url(../images/pager_separator.gif) no-repeat left; position:relative; z-index: 1 }
.item-list ul li.pager-current { background:url(../images/pager_active.gif) no-repeat center; padding: 5px 10px; color: #FFF; margin-right: -6px; z-index: 2;}
.item-list ul li a { color: #315d81;}

.news_page_header { text-align:center; color: #ed802f; margin-bottom: 30px;}
.news_page_header h2, .news_page_header h1 { text-transform:uppercase; font-size: 22px;}
.news_page_header h3 { color: #ed802f; text-transform:none; font-size: 15px; margin: 0; margin-bottom: 30px;}

.news_page_date { font-size: 10px; color: #c8c8c8; position: absolute; margin-left: 830px;}

.news_page_description { margin-bottom: 30px; display:none;}
.news_page_description_left, .news_page_description_right { display: inline-block; vertical-align:top}
.news_page_description_left { width: 90px;}
.news_page_description_right { width: 860px; color:#315d81; margin-top: -2px;}

.contact-list-item .views-row {
    background: url("../images/icons/metro_small.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: inline-block;
    left: 25px;margin: 20px 80px 20px 4px;padding-left: 38px;position: relative;vertical-align: top;  width: 333px;
}
.contact_list_item_metro { color:#ed802f; font-size: 21px; text-transform:uppercase; margin-bottom: 15px;}
.contact_list_item_address { color: #2c2d33; font-weight: bold; font-size: 19px;}
.contact_list_item_vhod { color: #868686;}
.contact_list_item_phone { color: #315d81; font-weight: bold; font-size: 26px; background:url(../images/icons/phone.gif) left no-repeat; padding-left: 28px; margin-top: 15px; margin-bottom: 15px;}
.contact_list_item_phone span { color: #a6bbcf; font-weight: normal;}
.contact_list_item_phone a {color:#315d81}
.contact_list_item_rezhim_title { font-weight: bold;}
.contact_list_item_raspisanie {color: #868686; margin-bottom: 20px}
.contact_list_item_raspisanie p { margin: 0;}
.contact_list_item_print { float: right; margin-bottom: 10px; font-size: 11px;}
.contact_list_item_map { margin-top: 12px; clear:both}

.contact_full_item { width: 849px; background:url(../images/icons/metro_small.gif) no-repeat top left; padding-left: 38px;}
.contact_full_item_photo { margin-top: 12px;}

label {
    display: block;
    color: #ed802f;
    font-size: 15px;
}

.marker, .form-required {
    color: red;
}

.feedback_form { margin-top: 20px;}

.item-list .pager { text-align: left!important;}


/* footer */
.footer {
    width: 100%;
    background-color:#ccd3db;
    height: 76px;
    margin-top: -76px;
    position: absolute;
    z-index: 2;
}
.footer-b {
    width: 955px;
    margin: 0 auto;
    left: 0;
    padding-top: 15px;
    color: white;
    font-size: 12px;
}
.foot-right {
    float: right;
    margin-right: 16px;
}
.footer .copyrights {
    padding: 0 15px;
    max-width: 300px;
    color: #2e363e;
}
.footer .copyrights p { margin-bottom:6px;}

.node_block_create{
    border: 1px solid #D8E0E9;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 30px;
}

#block-node-create-social-networks .social-b{
    float: left;
    height: 24px;
    overflow: hidden;
}
#social-buttons{
    display: inline-block;
    float: right;
    width: 420px;
}

#block-node-create-social-networks #blokmmiod{
    width: 240px;
}

#bloktwit{
    width: 110px;
}

#blokvk{
    width: 150px;
}

#vk_like{
    overflow: hidden;
}

.social_bottom{
    display: inline-block;
}


.note {color:grey; font-weight:bold; font-size: 10px;}
.addr {color: #0B3861; font-weight: bold;font-size: 12pt;}
.phn {color:#0B3861; font-size: 14pt;}
.metro {color:#CD853F; font-size: 14pt;}
.ymaps-b-balloon__content-body a {text-decoration:none;}
.time {color:#000000; font-weight: bold;font-size: 10pt;}

.yanstyle { background:url(../images/zagolovok_border_bg.gif) repeat-x 0 22px; margin-top: 14px;}
.yanstyle h1, .yanstyle h2  { background: #FFF url(../images/zagolovok_right_bg.gif) no-repeat right 22px; display: inline-block; padding-right: 60px;  max-width: 533px; }
.yanstyle_mail { background: #FFF url(../images/icons/mail.gif) no-repeat; width: 47px; height: 44px; float:left; margin-top: 3px; padding-right: 22px;}

#map {
    /* margin:20px auto;
     margin-bottom: 10px;*/
}

.faq_date{
    position: absolute;
    margin-top: -14px;
    margin-left: -40px;
    display:inline-block;  vertical-align: top;  float: left; width: 90px; text-align:center; padding: 0;
}
.readmore_grey_arrow.faq_tag{
    margin-bottom:0px;
    visibility:hidden;}

.faq_tag_label{ display:inline-block;  vertical-align: top;  float: left; width: 90px; text-align:center; padding: 0 20px;
}
.faq_tag_label span{ font-size: 10px; color: #c8c8c8}
.faq_tag_label2{display:inline-block;  vertical-align: top;  float: left; width: 90px; text-align:center; padding: 0 20px;
}
.new2{position:relative;right: 130px;width: 150%; margin-top: 10px;}

div.text.menu-1,
div.text.menu-2,
div.text.menu-3,
div.text.menu-4,
div.text.menu-5{
    display: none;
}

li.menu{
    cursor: pointer;
}



.node-usluga tr:hover  {background-color: rgb(255, 242, 220) !important; }

.slider-page { width:850px; margin:0 auto;}
.slider-page .views-slideshow-controls-bottom {
    float: right;
    margin-top: -30px;
    position: relative;
    z-index: 5;
}

.node-map #map { margin:0;}
.node-type-direct .node.node-map { margin-top:20px;}
.node.node-map { background: url("../images/mapmorebg.png") repeat-y scroll left bottom; width:946px; margin:0 auto;  overflow:hidden; min-height:925px; margin-bottom:30px;}
.node.node-map .pagebottom {
    background: url("../images/mapmorebottombg.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    height: 8px;
    margin: -8px auto 0;
    width: 946px;
}
.mapwrapper { width:946px; margin:0 auto;}
.maptop { width:946px; height:20px; background:url(../images/maptop.png);}
.mapbottom { width:946px; height:44px; background:url(../images/mapbottom.png); clear:both;}
.mapleft { width:308px; height:auto; background:url(../images/mapright.png) repeat-y left center; float:left; position:absolute; z-index:10; }
.mapleft img {position:absolute; z-index:10;}
.mapleft table { width:100%; height:100%; margin:0;}
.mapleft tbody { border:0;}
.mapleft td { padding:0; vertical-align:middle;}
.mapleft tr { margin:0;}
.mapright { width:638px; height:auto; background:url(../images/mapleft.png) repeat-y right center; float:right;}
.mappoint { padding:7px 0; height:63px; margin-left:31px; width:286px;background:url(../images/mapm.png) no-repeat 10px 7px; cursor:pointer; }
.mappoint:hover {background:url(../images/mapmhover.png) no-repeat 0px 0px; }
.mappoint.hover {background:url(../images/mapmhover.png) no-repeat 0px 0px; }
.mappoint.active {background:url(../images/mapmactive.png) no-repeat 0px 0px; cursor:default; }
.mappoint .name { margin-left:44px; font-size:21px; font-weight:bold; color:#ff7923; font-family:calibri;  }
.mappoint.active .name { color:#fff;}
.mappoint .adr { margin-left:44px;font-size:16px; font-weight:bold; color:#2c2d33; font-family:calibri; line-height:20px; }
.mappoint.active .adr { color:#fff;}
.mappoint .enter {  margin-left:44px;  color: #868686; font-size:12px;}
.mappoint.active .enter { color:#fff;}

.mapmore { display:none; width:926px; clear:both; overflow:hidden; padding-left:20px;margin:0 auto; }
.mapmore .mapmoreleft{ float:left; width:389px;background: url("../images/mapm2.png") no-repeat scroll 0px top rgba(0, 0, 0, 0); }
.mapmore .mapmoreright { height: 475px; margin-left: 390px; padding-bottom: 2px; padding-right: 3px;}
.mapmore .mapmoreright img { vertical-align:middle; position:absolute; margin-top:-19px; }
.mapmore .name {        padding-left: 50px; padding-top:3px;    color: #ED802F;    font-size: 31px;    margin-bottom: 7px;    text-transform: uppercase; }
.mapmore .adr {  color: #2C2D33;  font-size: 19px;  font-weight: bold; padding-left: 50px; padding-right:10px;}
.mapmore .phone {
    background: url("../images/icons/phone.gif") no-repeat scroll 50px center rgba(0, 0, 0, 0);
    color: #315D81;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 15px;
    padding-left: 80px;
}
.mapmore .phone a { color:#315d81;}
.mapmore .phone  span {
    color: #A6BBCF;
    font-weight: normal;
}
.mapmore .enter {  color: #919191;  font-size: 15px;  font-weight: 100; padding-left: 50px; margin-top:7px; padding-right:20px;}
.mapmore .time {  color: #919191;  font-size: 15px;  font-weight: 100; padding-left: 50px; margin-top:15px; padding-right:20px;}
.mapmore .tech {  color: #919191;  font-size: 15px;  font-weight: 100; padding-left: 50px; margin-top:15px; padding-right:20px;}
.mapmore .enter p, .mapmore .time p, .mapmore .tech p { margin-bottom:4px;}
.mapmore .enter span.lab, .mapmore .time span.lab, .mapmore .tech span.lab  { color:#000; font-weight:bold; margin-bottom:7px; display:block;}
.mapmore .time  a span.adr { color:#919191;font-size: 15px;  font-weight: 100; padding-left:0px; font-weight:100; margin-bottom:0px;}


.mapmore .more a {
    background: url("../images/but1.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 16px;
    height: 27px;
    margin-left: 55px;

    margin-top: 30px;
    padding: 0 0 0 31px;
    width: 117px;
    line-height:25px;
}
.mapmore .more a:hover { background-position:0 -35px; }
.mapmore .print a {
    background: url("../images/but12.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 16px;
    height: 27px;
    margin-left: 20px;

    margin-top: 30px;
    padding: 0 0 0 32px;
    width: 117px;
    line-height:25px;
}
.mapmore .print a:hover { background-position:0 -35px; }


#node-945 img {height: 824px;
    /*margin-top: -130px;*/

    width: 955px;
    z-index: 1000;}

.not-logged-in #node-945 img {height: 824px;
    /*margin-top: -107px;*/

    width: 955px;
    z-index: 1000;}

#node-945 a.kupon_link {
    cursor: pointer;
    height: 80px;
    margin-left: 177px;
    margin-top: -600px;
    position: absolute;
    width: 500px;
}
#node-945 a.kupon_link2 {
    cursor: pointer;
    height: 40px;
    margin-left: 177px;
    margin-top: -515px;
    position: absolute;
    width: 600px;
}
#node-945 a.kupon_ico { cursor:pointer;
    height: 85px;
    margin-left: 683px;
    margin-top: -600px;
    position: absolute;
    width: 107px;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    z-index:100;
    display:block;
}
#node-945 a.kupon_ico:hover { -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);}
#node-945 p { margin:0;}
#node-945 { height:820px; overflow:hidden;}

.page-node-945 .breadcrumbs, .page-node-945 .tabs, .page-node-945 .zagolovok   { display:none; }
.page-node-945 .header { height:40px;}
.page-node-945 .padding { padding:0;}

.iter { width:954px; margin:0 auto; min-height:331px; background:url(../images/iter_middle.png) repeat;}
.iter_top { width:954px; margin:0 auto; height:13px; background:url(../images/iter_top.png)  no-repeat;}
.iter_bottom { width:954px; margin:0 auto; height:13px; background:url(../images/iter_bottom.png) no-repeat; margin-top:20px; clear:both;}
.iter .first { min-height:285px;background:url(../images/iter_first.png) no-repeat center 10px;}
.iter .first .text .head { font-size:26px; font-weight:bold; margin:0 auto; padding-top:70px; text-align:center;}
.iter .first .text .cont { font-size:15px; width:375px; margin:0 auto; padding-top:20px; text-align:center;}

.iter .all { display:none; border:1px solid #d8e0e9;}
.iter .all span { display:block; background-color:#eaf7ff; padding:7px; cursor:pointer;}
.iter .current {font-size:13px; font-weight:bold; color:#1c3f63; padding:7px; cursor:pointer;}
.iter .firm {background:url(../images/iter_select.png) no-repeat; width:260px; height:31px; float:left; margin-left:62px; margin-top:30px; border:1px solid;}
.iter .mark {background:url(../images/iter_select.png) no-repeat; width:260px; height:31px; float:left;margin-left:27px; margin-top:30px; border:1px solid;}
.iter .model {background:url(../images/iter_select.png) no-repeat; width:260px; height:31px; float:left;margin-left:27px; margin-top:30px; border:1px solid;}

#firm_chosen { margin-left:62px;margin-top:30px; }
#mark_chosen { margin-left:22px;margin-top:30px; }
#model_chosen { margin-left:22px;margin-top:30px; }

.iter a.feedback { display:block; float:right;background:url(../images/iter_feedback.png) no-repeat; width:126px; height:23px; text-align:center; line-height:23px; color:#fff; font-weight:bold; margin-right:60px; margin-top:20px;}
.iter .second a.feedback {  float: right;  margin: 20px 0 20px 0px;}
.iter .second {  display:none; width:835px; margin:0 auto; margin-top:20px;}
.iter .second .questions {min-height:265px;}

.iter .question { font-size:15px; font-weight:bold;}
.iter a.nb {background:url(../images/iter_button.png) no-repeat; width:68px; height:23px; line-height:23px; text-align:center; font-size:13px; font-weight:bold; color:#fff; display:block; float:left; margin-right:20px; margin-top:20px;}

.iter label {font-size:13px; font-weight:bold; color:#000; padding-left:20px;background:url(../images/iter_radio.png) no-repeat; margin-bottom:7px;}
.iter input[type="radio"]:checked+label{ background-position:0 -18px;}
.iter input[type="radio"]{display: none;}

.iter .bar { clear:both; overflow:hidden; padding-top:5px; margin-bottom:10px;}
.iter .stripe { float:left; height:10px; width:60px;background:url(../images/iter_stripe.png) no-repeat; }
.iter .gray_stripe { float:left; height:10px; width:60px;background:url(../images/iter_gray_stripe.png) no-repeat; }
.iter a.bar_link {
    background: url("../images/iter_bar_point.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);  color: #FFFFFF;  display: block;  float: left;  font-size: 11px;  font-weight: bold;  height: 15px;  line-height: 15px;  margin-left: -4px;  margin-right: -4px;  margin-top: -2px;  position: relative;  text-align: center;  width: 15px;  z-index: 100;}
.iter .current_bar{ float:left; width:20px; height:20px;background:url(../images/iter_bar_point_cur.png) no-repeat; line-height:20px; text-align:center; font-size:13px; font-weight:bold; color:#fff; margin-top:-5px;}
.iter .iter_logo { margin:0 auto; display:block;}
.iter .title { font-size:27px; font-weight:bold; color:#2036a5; text-align:center;}
.iter .subtitle { font-size:15px; font-weight:bold; color:#000; text-align:center; margin-bottom:15px;}
.iter .last_text {color:#848484; font-size:11px; float:left; width:675px; margin-top:15px;}

.iter .iter_form { display:none; width:835px; margin:0 auto; margin-top:20px; min-height:270px;}
.iter .iter_form label {
    color: #ED802F;
    display: block;
    font-size: 15px;
    font-weight:bold; background:none;
    padding:0;
}

.iter p.atitle { font-size:16px; font-weight:bold; color:#214b73; margin:0; }
.iter .atext { font-size:13px;color:#050505; }

.iter .iter_form input[type='submit'] { display:block; background:url(../images/iter_feedback.png) no-repeat; width:126px; height:23px; text-align:center; line-height:23px; color:#fff; font-weight:bold; border:0; cursor:pointer; }
.iter .iter_form p { font-size:14px; font-weight:bold; color:#000;}
.iter .iter_form #edit-actions  { clear:both; overflow:hidden;}
.iter .iter_form #edit-actions input { float:left; margin-right:20px;}
.iter #webform-ajax-wrapper-993 .links { display:none;}

.wecanfix { margin-bottom:20px;}
.wecanfix .title { font-size:20px; color:#ed5d22; margin-left:40px; float:left; padding-top:20px; }
.wecanfix .tabs { float:right; margin-right:40px;}
.wecanfix .tabs div { width:130px; height:40px; margin-top:17px; float:left; margin-right:5px; background:url(../images/tabbg.png); text-align:center; font-size:18px; font-weight:bold; color:#2f5881; line-height:40px; cursor:pointer;}
.wecanfix .tabs div span {}
.wecanfix .tabs div img { display:none; margin:0 auto;}
.wecanfix .tabs div.tab1 {height:57px; margin-top:0px;}
.wecanfix .tabs div.tab1 span { display:none;}
.wecanfix .tabs div.tab1 img { margin-top:10px; display:block;}
.wecanfix .tabs div.tab2 img { margin-top:10px;}
.wecanfix .tabs div.tab3 img { margin-top:15px;}
.wecanfix .tabs div.tab4 img { margin-top:23px;}
.wecanfix .tabs div.active {height:57px !important; margin-top:0px !important;}
.wecanfix .tabs div.active img { display:block !important;}
.wecanfix .tabs div.active span { display:none !important;}
.wecanfix .t_cont { clear:both; background:url(../images/t_cont.png); width:955px; height:465px; overflow:hidden; position:relative; }
.wecanfix .t_cont .cont1 { display:block; width:955px; height:465px; }
.wecanfix .t_cont .cont2 { display:none;}
.wecanfix .t_cont .cont3 { display:none;}
.wecanfix .t_cont .cont4 { display:none;}
.wecanfix .t_cont .link1 {display: block;background: url("../images/t_all.png") repeat scroll 0 0 rgba(0, 0, 0, 0);height: 23px;margin-left: 794px;top: 421px;position: absolute;width: 126px;  }
.wecanfix .t_cont .link1 a { display:block;height: 23px;width: 126px;}
.wecanfix .t_cont .link2 { display:none;background: url("../images/t_all.png") repeat scroll 0 0 rgba(0, 0, 0, 0);height: 23px;margin-left: 794px;top: 421px;position: absolute;width: 126px;}
.wecanfix .t_cont .link2 a { display:block;height: 23px;width: 126px;}
.wecanfix .t_cont .link3 { display:none;background: url("../images/t_all.png") repeat scroll 0 0 rgba(0, 0, 0, 0);height: 23px;margin-left: 794px;top: 421px;position: absolute;width: 126px;}
.wecanfix .t_cont .link3 a { display:block;height: 23px;width: 126px;}
.wecanfix .t_cont .link4 { display:none;background: url("../images/t_all.png") repeat scroll 0 0 rgba(0, 0, 0, 0);height: 23px;margin-left: 794px;top: 421px;position: absolute;width: 126px;}
.wecanfix .t_cont .link4 a { display:block;height: 23px;width: 126px;}
.wecanfix .toptitle { margin-top:15px; margin-bottom:5px;}


.wecanfix .model-item .view-content { margin:0 20px;}
.wecanfix .model-item .views-row{background: url("../images/t_bg.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 144px;
    margin: 6px 11px;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    width: 127px;}
.wecanfix .model-item .views-row .subtitle a {
    color: #ED5D22;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 15px;
    overflow: hidden;
    padding: 10px 0;
    margin-bottom: 5px;
}
.wecanfix .model-item .views-row:hover {  background:url(../images/t_bga.png) no-repeat center center;}
.wecanfix .views-row-7, .wecanfix .views-row-8, .wecanfix .views-row-9, .wecanfix .views-row-10, .wecanfix .views-row-11, .wecanfix .views-row-12, .wecanfix .views-row-13, .wecanfix .views-row-14, .wecanfix .views-row-15 { display:none !important;}

.wecanfix .toptitle a:hover { text-decoration:underline;}

.t_cont .view { padding-bottom:30px;}

.header_phones table { width:auto; margin:0 auto; text-align:center;}
.header_phones tbody { border:0;}