body{
    background: #b3dccc;
}

#abbr{
   font: normal normal normal 14px/1.4em 'open sans',sans-serif;
   color:#848282;
}
#caf_name{
    font: normal normal normal 33px/1.4em anton,sans-serif;
    font-family: tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
    font-size:24px;
    color:#396F5A;
    font-weight: bold;

}

header{
    width: 950px;
    padding: 10px 15px;
    margin: 0 auto;
}

#logo{
    float:left;
}

#content_wrap{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    width: 980px;
    background-color:rgba(255, 255, 255, 0.65);

}

#content{
    position: relative;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 1);
}

#top_menu li{
    list-style-type: none;
    text-decoration: none;
    position: absolute;
    top: -16px;
    width: 140px;
    height: 32px;
    min-height: 15px;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    background: rgba(95, 185, 151, 1) url(http://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/indented_bg.png) 0 0 repeat-x;
    cursor: pointer !important;
}

#top_menu li:hover {
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    background-color: rgba(35, 112, 83, 1);
    border-color: rgba(11, 17, 137, 1);
}


#top_menu li:nth-child(1){
    left: 150px;
}
#top_menu li:nth-child(2) {
    left: 300px;
}

#top_menu li:nth-child(3) {
    left: 450px;;
}
#top_menu li:nth-child(4) {
     left: 600px;;
}
#top_menu li:nth-child(5) {
    left: 750px;;
}

#left_menu{
    margin-top: 45px;
    left: 30px;
    top: 45px;
    height: 252px;
    width: 152px;
}
#left_menu ul{
    padding: 0;
    margin: 0;
    border-top: solid 1px rgba(125, 228, 188, 1);
    border-bottom: solid 1px rgba(125, 228, 188, 1);
    list-style: none;
}

#left_menu ul li{
    height: 35px;
    text-align: left;
    background-color: rgba(78, 151, 123, 1);
    transition: background-color 0.4s ease 0s;
    border-bottom: solid 1px rgba(125, 228, 188, 1);
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    position: relative;
    display: block;
    cursor: pointer;
    list-style: none;

}

#slider_box{
    overflow: hidden;
    position: absolute;
    left: 178px;
    top: 45px;
    height: 272px;
    width: 409px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 1);
}

#slider{
    height: 256px;
    border-radius: 0;
    border: 8px solid rgba(255, 255, 255, 1);
    background: url(/test/slider/slider1.jpg) !important;
}

#greeting_banner{
    position: absolute;
    width: 337px;
    left: 614px;
    top: 58px;
    height: 74px;
}
#ribbon{
    border: 10px solid transparent;
    border-top-color: rgba(99, 98, 98, 1);
    border-left-width: 0;
    right: 0;

    position: absolute;
    bottom: -10px;
}


#greeting_background{
    background-color: rgba(79, 214, 162, 1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 10px;
}

/*
.b-dropdown{
    position: relative;
}

#b-dropdown-submenu {
    background: #525252;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999 !important;
}
*/
